.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.image-container {
  width: 25%;
}

.li {
  list-style-type: none;
}

.link-1 {
  width: 25%;
}

.link-2 {
  width: 25%;
}

.logo {
  width: 25%;
}

.copy {
  text-align: center;
}

@media (max-width: 767.98px) {
  .flex-container {
    margin-top: 15%;
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }

  .link-1 {
    width: 100%;
  }

  .link-2 {
    width: 100%;
  }

  .logo {
    width: 100%;
  }
}
